@import url("https://fonts.googleapis.com/css2?family=Hind:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Hind";
}

:root {
  --shimmer-color: rgb(230, 230, 230);
}

.body {
  margin: 85px 50px 50px;
  padding-top: 20px;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-container input {
  width: 40vw;
  padding: 6px 20px;
  font-size: 20px;
  border: 1px solid gray;
  border-radius: 25px 0 0 25px;
  z-index: 90;
}

.search-container input:focus {
  outline: 1px solid blue;
}

.search-container button {
  padding: 6px 20px;
  font-size: 20px;
  border: 1px solid gray;
  border-left: none;
  border-radius: 0 25px 25px 0;
}

.restaurant-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  padding-top: 20px;
  min-height: 62.5vh;
}

.restaurant-list .link {
  text-decoration: none;
  color: inherit;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: gray;
  padding: 10px;
  position: sticky;
  /*  bottom: 0;
  left: 0;
  right: 0; */
}

.no-restaurant {
  min-height: 62.5vh;
  margin: 50px;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.about-us,
.contact-us-page,
.error-component {
  margin: 100px 50px 50px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  min-height: 70vh;
}

.error-component .hungry {
  width: 200px;
  margin: auto;
}
